body{
    margin: 0;
    padding: 0;
}
.outer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inner{
    width: 50%;
    height: 50%;
    background-color: #fffffa;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    margin: 2%;
}
.inner h1{
    text-align: center;
    color: #337DA6;
    font-size: 30px;
    padding: 4%;
}
.inner p{
    text-align: center;
    color:#293132;
    font-size: 20px; 
    padding: 4%;
}
@media screen and (max-width: 600px) {
    .inner{
        width: 100%;
        height: 100%;
    }
}